<header class="header-area nevy-blue-bg d-none d-md-block">
  <div class="container">
    <div class="header-top-content">
      <div class="row">
        <div class="col-md-7 col-sm-7 text-center text-md-left">
         
        </div>
        <div class="col-md-5 col-sm-5 text-center text-md-right">
        </div>
      </div>
    </div>
  </div>
</header>

<header class="header-bottom-content nevy-blue-bg d-none d-md-block">
  <div class="container">
    <div class="row">
      <div class="site-logo col-md-4 col-sm-4">
        <a routerLink="/home">
          <img src="" alt="site-logo" />
        </a>
      </div>
      <div class="col-md-6 col-sm-6">
        <nav class="site-navigation top-navigation">
          <ul class="menu-list">
            <li><a routerLink="/homepage">Home</a></li>
            <li><a routerLink="/home">Finding</a></li>
            <li><a routerLink="/talenthands/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-md-2 col-sm-2 text-center text-md-right">
        <div class="booking">
          <span><a routerLink="/booking" (click)="logout()">logout</a></span>
        </div>
      </div>
    </div>
  </div>
</header> 
<div class="carousel slide" id="heroSlider" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/banner1.jpg" class="d-block w-100" alt="AI">

    </div>
  </div>
 
</div>

