<div class="main-form">
  <app-card [showHeader]="false" class="auth-form-card" padding="40">
    <form [formGroup]="faceForm" (ngSubmit)="onRegister()">
      <div class="text-center m-b-25 f-20 f-w-500">Register yourself</div>
      <div class="row text-start">
        <div class="col-md-6">
          <mat-label>Name</mat-label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput placeholder="Name" formControlName="name" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-label>Age</mat-label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput type="number" placeholder="Age" formControlName="age" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-label>Gender</mat-label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput placeholder="Gender" formControlName="gender" />
          </mat-form-field>
        </div>

        <div class="col-md-12">
          <mat-label>Phone Number</mat-label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput placeholder="Phone Number" formControlName="mobileNumber" />
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-label>Email</mat-label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput formControlName="email" placeholder="Email Address" required />
            <mat-error *ngIf="faceForm.get('email')?.invalid">
              {{ getErrorMessage('email') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-label>Aadhar Number</mat-label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput formControlName="idProof" placeholder="Aadhar Number" required />
            <mat-error *ngIf="faceForm.get('idProof')?.invalid">
              {{ getErrorMessage('idProof') }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-12">
          <mat-label>Description</mat-label>
          <mat-form-field appearance="outline" class="w-100 m-t-5">
            <input matInput formControlName="description" placeholder="Description" required />
            <mat-error *ngIf="faceForm.get('description')?.invalid">
              {{ getErrorMessage('description') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="check-me">
        <mat-checkbox formControlName="terms" color="primary">
          I agree to all the Terms & Conditions
        </mat-checkbox>
      </div>

      <div class="button-group">
        <!-- Dataset Generation -->
        <button mat-flat-button color="accent" type="button" (click)="generateDataset(faceForm.value)">
          Generate Dataset
        </button>
      </div>
    </form>
  </app-card>
</div>
