<div class="auth-main">
  <div class="auth-wrapper version-1">
    <div class="auth-form">
      <div class="auth-background">
        <div class="yellow-circle"></div>
        <div class="red-circle"></div>
      </div>
      <div class="main-form">
        <app-card [showHeader]="false" class="auth-form-card" padding="40">
        
          <div class="text-center m-b-25 f-20 f-w-500">Sign up with your work email.</div>
          <form [formGroup]="faceForm" (ngSubmit)="onRegister()">
          <div class="row text-start">
            <div class="col-md-6">
              <mat-label>Name</mat-label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input type="text" matInput placeholder="First Name" formControlName="name" />
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <label for="name" class="f-w-500">Address</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input type="text" matInput placeholder="Address" formControlName="address" />
              </mat-form-field>
            </div>
             <div class="col-12">
              <label for="name" class="f-w-500">Enter Your Mobile Number</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input matInput required placeholder="Enter Your Mobile Number" formControlName="mobileNumber" />
               
              </mat-form-field>
            </div>
            <div class="col-12">
              <label for="name" class="f-w-500">Enter Your Email</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input matInput  required placeholder="Email Address" formControlName="email" />
               
              </mat-form-field>
            </div>

             <div class="col-12">
              <label for="name" class="f-w-500">Enter Your Identity</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input matInput  required placeholder="Id Number" formControlName="idProof" />
               
              </mat-form-field>
            </div>
            <div class="col-12">
              <label for="name" class="f-w-500">Enter your password</label>
              <mat-form-field appearance="outline" class="w-100 m-t-5">
                <input matInput type="password" placeholder="Enter Password" formControlName="password"/>
              
              </mat-form-field>
            </div>
          
         
          <div class="check-me">
            <mat-checkbox class="float-start" checked color="primary">I agree to all the Terms & Condition</mat-checkbox>
          </div>
          <div class="grid">
            <button mat-flat-button color="primary" class="b-rad-20 m-t-15">Register</button>
          </div>
          <div class="check-me m-t-15">
            <div class="text-muted">Don't have an Account?</div>
            <a class="text-primary-500" href="/login" >
              Login Account
            </a>
              
            
            <a class="text-primary-500" routerLink="/personregister">
             Person Register
            </a>
          </div>
          </div>
          </form>
        </app-card>
      </div>
    </div>
  </div>
</div>
